*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.left-align{
    width: 35%;
    max-width: 40%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 1rem;
}

.pb{
    width: 80%;
    height: 50%;
}