:root{
    --text-color: #714b28;
    --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    --main-heading-size: 4.5rem;
    --sub-heading-size: 2rem;
    --paragraf-size: 1.5rem;
    --paragraf-width: 50%;
    --text-gap: 0.1rem;

}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
    font-family: var(--font-family);
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

body{
    background-color: black;
}

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 100vh;
}

.about-img{
    width: 50vw;
    /* min-width: 50%; */
    height: auto;
    object-fit: cover;
}

.about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--text-gap);
}

.pb{
    width: 100%;
    height: auto;
    border-radius: 2rem;
    box-shadow: 20px 20px 20px #82572e;
    margin-left: 1rem;
    object-fit: cover;
    transition: 0.5s ease;
}

.pb:hover{
    box-shadow: 25px 50px 20px #82572e;
    border-bottom-left-radius: 90%;
    border-bottom-right-radius: 90%;
    transition: 1.3s;
}



h1{
    color: var(--text-color);
    font-size: var(--main-heading-size);
}

h3{
    font-size: var(--sub-heading-size);
    color: var(--text-color);

}
p{
    color: var(--text-color);
    font-size: var(--paragraf-size);
    /* width: var(--paragraf-width); */
}
