.navbar{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #d08b4a9f;
    height: auto;
}

.navbar a{
    margin: 1rem 0.2rem;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid;
}

.navbar a:hover{
     transform: scale(0.9);
}