.navbar{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #714b28;
    height: auto;
}

.navbar a{
    position: relative;
    margin: 1rem 0.2rem;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid;
    transition: transform 0.5s ease;
}

.navbar a:hover{
     transform: scale(0.9);
     transition: 0.2s;
}

#about-me a{
    color: rgb(0, 0, 0);
    background-color: none;
}

footer{
    background-color: #714b28;
    padding: 1rem;
}